@model TPI_ProjectPresenter.Models.ProjectContent.ContentSection

<div class="col-12 ContentSectionContainer">
	<div class="row">
		<div class="col-lg-10 col-sm-7">
			<h2>@Model.SectionName</h2>
			<p class="SectionTooltip">@Model.SectionTooltip</p>
		</div>
		<div class="col-lg-2 col-sm-1 btn-group">
			<a class="nav-link text-dark" asp-action="EditSection" asp-controller="Project" asp-route-ppid="@ViewBag.PID" asp-route-ptid="@ViewBag.TID" asp-route-psid="@Model.SID">
				<button class="btn btn-sm btn-secondary"><i class="bi bi-pencil-square float-end"></i></button>
			</a>
			<a class="nav-link text-dark" asp-action="DeleteSection" asp-controller="Project" asp-route-ppid="@ViewBag.PID" asp-route-ptid="@ViewBag.TID" asp-route-psid="@Model.SID">
				<button class="btn btn-sm btn-danger"><i class="bi bi-file-x float-end"></i></button>
			</a>
		</div>
	</div>
	<div class="row">
		@foreach (var item in @Model.GetContentItems())
		{
			<div class="col-12 align-self-center">
				<div class="row">
					<div class="col-lg-10 col-sm-6">
						<h3>@item.ItemTitle</h3>
					</div>
					<div class="col-2 btn-group">
						<a class="nav-link text-dark" asp-action="EditItem" asp-controller="Project" asp-route-ppid="@ViewBag.PID" asp-route-ptid="@ViewBag.TID" asp-route-psid="@Model.SID" asp-route-piid="@item.IID">
							<button class="btn btn-sm btn-secondary"><i class="bi bi-pencil-fill float-end"></i></button>
						</a>
						<a class="nav-link text-dark" asp-action="DeleteItem" asp-controller="Project" asp-route-ppid="@ViewBag.PID" asp-route-ptid="@ViewBag.TID" asp-route-psid="@Model.SID" asp-route-piid="@item.IID">
							<button class="btn btn-sm btn-danger"><i class="bi bi-trash float-end"></i></button>
						</a>
					</div>
				</div>
				<partial name="ProjectContent/_@item.ItemType" , model="@item" />
			</div>
		}
	</div>
	<div class="row">
		<div class="col-2 offset-lg-10 offset-sm-6">
			<a asp-action="NewItem" asp-controller="Project" asp-route-ppid="@ViewBag.PID" asp-route-ptid="@ViewBag.TID" asp-route-psid="@ViewBag.SID"><button class="btn btn-primary">New Item</button></a>
		</div>
	</div>
</div>